<div class="row">
  <form class="navbar-form form-inline navbar-left" role="search">
    <div class="form-group">
      <input type="submit" ng-click="msc.submitSearch()" ng-disabled="!msc.nameFilter" class="btn btn-primary" value="Search movies">

      <input type="button" ng-click="msc.emptyCache()" ng-show="msc.hasCache" class="btn btn-default" value="Clear cache">

      <input type="text" ng-model="msc.nameFilter" class="form-control" placeholder="Movie title">

      <input type="number" ng-model="msc.yearFilter" min="1800" max="2100" class="form-control" placeholder="Year">

      <label class="radio-inline">
        <input type="radio" ng-model="msc.typeFilter" value="">All
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="msc.typeFilter" value="movie">Movies
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="msc.typeFilter" value="series">Series
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="msc.typeFilter" value="episode">Episodes
      </label>

    </div>
  </form>
</div>

<div class="row">
  <section ng-show="msc.errorMsg" class="alert alert-danger" role="alert">{{msc.errorMsg}}</section>
</div>

<div my-infinite-scroll="msc.paginationDataAdder()" class="row">
  <article ng-repeat="movie in msc.movies" class="col-md-4">
    <a ng-href="{{'#/movie_details/' + movie.imdbID}}" class="thumbnail">
      <p class="text-center strong">{{movie.Title}}</p>
      <p class="text-center small">{{'type: ' + movie.Type + ', released: ' + movie.Year}}</p>

      <img ng-src="{{movie.Poster}}" alt="Movie Poster" style="height:150px">

    </a>
  </article>
</div>
