<div class="row">
  <section ng-show="mdc.errorMsg" class="alert alert-danger" role="alert">{{mdc.errorMsg}}</section>
</div>

<article ng-show="mdc.movie" class="row">
  <div class="panel panel-info">
    <div class="panel-heading">{{mdc.movie.Title}}</div>
    <div class="panel-body">
      <div class="row">

        <div class="col-md-1">
          <img ng-src="{{mdc.movie.Poster}}" class="img-responsive img-rounded" alt="Movie poster">
        </div>

        <div class="col-md-8">
          <p>{{'Released: ' + mdc.movie.Year}}</p>
          <p>{{'Type: ' + mdc.movie.Type}}</p>
          <p>{{'IMDB ID: ' + mdc.movie.imdbID}}</p>
        </div>

      </div>
    </div>
  </div>
</article>
